@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body {
  background-color: Black;
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

.sobreposição__header {
  background-image: url(Black-Pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 715px;
}
@media (max-width: 767.98px) {
  .sobreposição__header {
    width: 115%;
  }
}
.header__container {
  padding-top: 20px;
  background-color: rgba(4, 14, 22, 0.83);
  padding-bottom: 43.5rem;
}
.nav__header {
  text-align: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.2s;
  z-index: 1001;
}
.nav__header.scrolled {
  background-color: black !important;
}
.header__itens {
  font-size: 30px;
  display: inline-block;
  padding-right: 60px;
}
@media (max-width: 767.98px) {
  .header__itens {
    padding-right: 20px;
  }
}
.header__item {
  color: whitesmoke;
  text-decoration: none;
}
.header__item:hover {
  transition: 0.7s;
  font-size: 35px;
  text-shadow: 0 0 10px whitesmoke;
}

.main__tittle {
  font-size: 200%;
  color: whitesmoke;
  text-align: center;
  margin-top: -40rem;
  margin-bottom: 10rem;
}
.main__effect {
  font-weight: 500;
  font-size: 25pt;
  margin-top: -1rem;
  color: #c7c7c7;
  text-align: center;
}
@media (max-width: 767.98px) {
  .main__effect {
    padding-left: 5px;
  }
}
.main__social {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.main__github, .main__figma, .main__linkedin, .main__canva {
  width: 4.5rem;
  margin-top: 4rem;
  padding: 10px;
  border-radius: 30px;
}
@media (max-width: 767.98px) {
  .main__github, .main__figma, .main__linkedin, .main__canva {
    margin-top: -15px;
  }
}
.main__github:hover, .main__figma:hover, .main__linkedin:hover, .main__canva:hover {
  transition: 0.75s;
  width: 5.5rem;
  margin-bottom: -1rem;
}

.about__h2 {
  color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
  font-size: 1.5rem;
  margin-top: 140px;
  padding: 5px 30px;
}
@media (max-width: 767.98px) {
  .about__h2 {
    margin-top: 180px;
  }
}
.about__img {
  width: 10%;
  border-radius: 50%;
  float: left;
  padding-right: 10px;
  margin-top: 15px;
}
@media (max-width: 767.98px) {
  .about__img {
    width: 35%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .about__img {
    width: 30%;
  }
}
.about__p {
  width: 60%;
  padding: 10px 20px;
  line-height: 220%;
  font-size: 18px;
  border-top: 2px solid #eaeaeb;
}
@media (max-width: 767.98px) {
  .about__p {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .about__p {
    width: 90%;
  }
}
.about__skills {
  font-size: 30px;
  padding: 10px 40px;
}
.about__languages {
  font-size: 26px;
  padding: 0 20px;
}
.about__list {
  list-style: none;
}
.about__badges {
  width: 5%;
  display: inline-block;
  padding-left: 15px;
}
@media (max-width: 767.98px) {
  .about__badges {
    width: 15%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .about__badges {
    width: 16%;
  }
}

.portfolio__container {
  background-color: #153740;
  height: 1200px;
}
@media (max-width: 767.98px) {
  .portfolio__container {
    width: 115%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__container {
    height: auto;
  }
}
.portfolio__h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #e6e6e6;
  padding-top: 1px;
}
.portfolio__projects {
  display: grid;
  align-items: center;
  grid-template-areas: "portfolio__img";
  grid-template-columns: 33.33% 33.33% 33.33%;
  gap: 2rem;
  overflow: hidden;
  padding: 0 40px;
}
@media (max-width: 767.98px) {
  .portfolio__projects {
    grid-template-columns: 50% 50%;
  }
}
.portfolio__link {
  text-decoration: none;
}
.portfolio__img {
  border-radius: 10px;
  box-shadow: 0 6px 10px #0009;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio__text {
  color: white;
  font-size: 1.2rem;
}

.footer {
  color: whitesmoke;
  text-shadow: 0 0 5px whitesmoke;
  text-align: center;
  padding: 10px;
  background-color: black;
}
@media (max-width: 767.98px) {
  .footer {
    width: 110%;
  }
}

script.principal:hover {
  padding: 3em;
  border-bottom: 2em;
  border-left: 2em;
  text-align: center;
  text-shadow: 0 10px 20px whitesmoke;
}